.left{
    flex: 1;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;


    img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }
}

